# package directories
node_modules
jspm_packages
coverage/

# Serverless directories
.serverless
.DS_Store

#VS code directories
**/.vscode/*
!**/.vscode/launch.json

# Public/Private key files
*.asc

# VIM swap files
*.swp

# other
.DS_Store
test-results/
.idea/
tmp/
wip_*.js
junit.xml
